body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    height: 100vh;          /* Full viewport height */
    margin: 0;              /* Remove default margins */
    background: #282c34;    /* Dark background */
    color: white;
    font-family: Arial, sans-serif;
  }
  p:hover {
    color: #fff;
    background: #d85518; /* Purple background on hover */
    transition: background 0.3s ease, color 0.3s ease;
    padding: 10px;
    border-radius: 5px;
  }
  p.important {
    font-size: 18px;
    text-align: center;
    line-height: 1.8;
    color: #fff;
    background: #f76c6c; /* Light red background */
    padding: 15px;
    border-radius: 10px;
  }
img {
  display: block; /* Ensures the image is on its own line */
  margin-top: 1px; /* Adds space above the image */

}      
button {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add some padding */
  font-size: 16px; /* Larger font size */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}